# Dependencias
node_modules/
package-lock.json

# Base de datos
database.sqlite
database.sqlite-journal

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos subidos
public/uploads/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de construcción
dist/
build/

# Archivos temporales
*.tmp
*.temp