<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h3><i class="fas fa-exclamation-triangle"></i> Confirmar Eliminación</h3>
            </div>
            <div class="card-body">
                <p>¿Está seguro que desea eliminar el siguiente autor?</p>
                <div class="alert alert-warning">
                    <strong>Nombre:</strong> {{author.name}}<br>
                    <strong>Email:</strong> {{author.email}}
                </div>
                <form action="/authors/delete/{{author.id}}" method="POST">
                    <div class="d-flex justify-content-between">
                        <a href="/authors" class="btn btn-secondary">
                            <i class="fas fa-times"></i> Cancelar
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Aceptar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>